
<button type="button" (click)="onClick(1)"> Choice 1</button>
<button type="button" (click)="onClick(2)"> Choice 2</button>
<span>Current choice: {{choice ?? 'None'}}</span>
<div class="content">
    <ng-container *ngIf="clicked">
        <ag-grid-angular style="height: 70vh;"
        [adaptableOptions]="adaptableOptions"
        [gridOptions]="gridOptions"
        [defaultColDef]="defaultColDef"
        [modules]="agGridModules"
        [rowData]="rowData"
        [sideBar]="'columns'"
        class="ag-theme-alpine ag-grid"
        (gridReady)="onGridReady($event)"
        (adaptableReady)="onAdaptableReady($event)"
        >
        </ag-grid-angular>
    </ng-container>

  <p *ngIf="loading" class="no-content">
    Loading...
  </p>

    <p *ngIf="rowData?.length === 0" class="no-content">
        No detailed view
    </p>
</div>
